*.o
*.d
.*.swp
main
/boot
d.img
user/hello
user/fault
user/fork
user/getpid
user/fstest
user/fswrite
user/fsbigwrite
user/fscreat
user/fslink
user/fsmkdir
user/fsunlink
bins.go
boot.elf
chentry
go.img
main.gobin
*.bgo
mpentry.elf
mpentry.bin
*.pyc
fsdir/bin/hello
fsdir/bin/fault
fsdir/bin/fork
fsdir/bin/getpid
fsdir/bin/fstest
fsdir/bin/fswrite
fsdir/bin/fsbigwrite
fsdir/bin/fscreat
fsdir/bin/fslink
fsdir/bin/fsmkdir
fsdir/bin/fsunlink
