*.o
*.d
.*.swp
*.bgo
*.pyc
/main
/boot
/d.img
/bins.go
/boot.elf
/chentry
/go.img
/net.img
/main.gobin
/mpentry.elf
/mpentry.bin
/user/hello
/user/fault
/user/fork
/user/getpid
/user/fstest
/user/fswrite
/user/fsbigwrite
/user/fscreat
/user/fslink
/user/fsmkdir
/user/fsunlink
/user/fsfree
/user/ls
/fsdir/bin/hello
/fsdir/bin/fault
/fsdir/bin/fork
/fsdir/bin/getpid
/fsdir/bin/fstest
/fsdir/bin/fswrite
/fsdir/bin/fsbigwrite
/fsdir/bin/fscreat
/fsdir/bin/fslink
/fsdir/bin/fsmkdir
/fsdir/bin/fsunlink
/fsdir/bin/fsfree
/fsdir/bin/ls
