*.o
*.d
.*.swp
*.bgo
*.pyc
/btest
/btest.elf
/main
/boot
/d.img
/bins.go
/boot.elf
/chentry
/go.img
/net.img
/main.gobin
/mpentry.elf
/mpentry.bin
/user/c/hello
/user/c/fault
/user/c/fork
/user/c/getpid
/user/c/fstest
/user/c/fswrite
/user/c/fsbigwrite
/user/c/fscreat
/user/c/fslink
/user/c/fsmkdir
/user/c/fsunlink
/user/c/fsfree
/user/c/ls
/user/c/bmwrite
/user/c/bmread
/user/c/conio
/user/c/lsh
/user/c/bmopen
/user/c/cls
/user/c/fault2
/user/c/echo
/user/c/cat
/user/c/bmgc
/user/c/bmgc2
/user/c/bmsmallfile
/user/c/sfork
/user/c/mkdir
/user/c/touch
/user/c/unlink
/user/c/pipetest
/user/c/kill
/user/c/killtest
/user/c/mmaptest
/user/c/usertests
/user/c/thtests
/user/c/pthtests
/user/c/mknodtest
/user/c/sockettest
/user/cxx/mail-enqueue
/user/cxx/mail-qman
/user/cxx/sysroot
/fsdir/bin/hello
/fsdir/bin/fault
/fsdir/bin/fork
/fsdir/bin/getpid
/fsdir/bin/fstest
/fsdir/bin/fswrite
/fsdir/bin/fsbigwrite
/fsdir/bin/fscreat
/fsdir/bin/fslink
/fsdir/bin/fsmkdir
/fsdir/bin/fsunlink
/fsdir/bin/fsfree
/fsdir/bin/ls
/fsdir/bin/bmwrite
/fsdir/bin/bmread
/fsdir/bin/conio
/fsdir/bin/lsh
/fsdir/bin/bmopen
/fsdir/bin/cls
/fsdir/bin/fault2
/fsdir/bin/echo
/fsdir/bin/cat
/fsdir/bin/bmgc
/fsdir/bin/bmgc2
/fsdir/bin/bmsmallfile
/fsdir/bin/sfork
/fsdir/bin/unlink
/fsdir/bin/touch
/fsdir/bin/mkdir
/fsdir/bin/pipetest
/fsdir/bin/kill
/fsdir/bin/killtest
/fsdir/bin/mmaptest
/fsdir/bin/usertests
/fsdir/bin/thtests
/fsdir/bin/pthtests
/fsdir/bin/mail-enqueue
/fsdir/bin/mknodtest
/fsdir/bin/sockettest
/fsdir/bin/mail-qman
